.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 4px 4px 4px #eee;

    a {
        padding: 20px;
        text-decoration: none;
        transition: 0.13s;

        &:hover {
            background-color: #eee;
        }
    }
}
